# 데이터 불러오기 & 합치기

In [1]:
import pandas as pd
import numpy as np

# Raw Data 불러오기, encoding = 'cp949' 컬럼명을 한글로 불러오기, low_memory=False 데이터 통째로 불러오기
df_2018 = pd.read_csv("2018.csv", encoding='cp949', low_memory=False)
df_2019 = pd.read_csv("2019.csv", encoding='cp949', low_memory=False)
df_2020 = pd.read_csv("2020.csv", encoding='cp949', low_memory=False)
df_2021 = pd.read_csv("2021.csv", encoding='cp949', low_memory=False)
df_2022 = pd.read_csv("2022.csv", encoding='cp949', low_memory=False)
df_2023 = pd.read_csv("2023.csv", encoding='cp949', low_memory=False)
df_2024 = pd.read_csv("2024.csv", encoding='cp949', low_memory=False)

# 컬럼 확인
pd.set_option('display.max_columns', None) # 잘리는 컬럼 없이 다 출력
display(df_2018.head(5))
display(df_2019.head(5))
display(df_2020.head(5))
display(df_2021.head(5))
display(df_2022.head(5))
display(df_2023.head(5))
display(df_2024.head(5))

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2018,11500,강서구,10300,화곡동,1.0,대지,1159.0,0.0,"우장산아이파크,이편한세상",20190425,95000,101.65,NaN,10.0,NaN,NaN,2008.0,아파트,NaN,NaN
1,2018,11410,서대문구,11200,대현동,1.0,대지,144.0,0.0,럭키대현,20190316,70000,83.38,NaN,10.0,NaN,NaN,1999.0,아파트,NaN,NaN
2,2018,11590,동작구,10700,사당동,1.0,대지,169.0,32.0,현대,20190221,49500,51.66,NaN,10.0,NaN,NaN,1991.0,아파트,NaN,NaN
3,2018,11350,노원구,10500,상계동,1.0,대지,1380.0,4.0,초산빌라,20190121,16000,41.37,18.38,1.0,NaN,NaN,1996.0,연립다세대,NaN,NaN
4,2018,11380,은평구,11000,증산동,1.0,대지,189.0,63.0,궁전맨션(189-63),20190103,43000,54.34,27.17,2.0,NaN,NaN,1992.0,연립다세대,NaN,NaN

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2019,11710,송파구,10100,잠실동,1.0,대지,0027,0.0,주공아파트 5단지,20200606,197300,76.50,NaN,1.0,NaN,NaN,1978.0,아파트,NaN,NaN
1,2019,11320,도봉구,10800,도봉동,1.0,대지,0624,120.0,남양빌라가동,20200219,13100,36.32,30.67,1.0,NaN,NaN,1987.0,연립다세대,NaN,NaN
2,2019,11710,송파구,10100,잠실동,1.0,대지,0019,0.0,잠실엘스,20200111,198000,84.80,NaN,14.0,NaN,NaN,2008.0,아파트,NaN,NaN
3,2019,11290,성북구,13900,석관동,NaN,NaN,NaN,NaN,NaN,20200102,53200,91.67,116.00,NaN,NaN,NaN,1977.0,단독다가구,NaN,NaN
4,2019,11500,강서구,10200,등촌동,1.0,대지,0628,18.0,트라비하우스,20191231,25000,57.76,80.13,9.0,NaN,NaN,2005.0,오피스텔,NaN,NaN

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2020,11230,동대문구,11000,이문동,NaN,NaN,NaN,NaN,NaN,20210510,85000,75.57,132.00,NaN,NaN,NaN,1967.0,단독다가구,NaN,NaN
1,2020,11680,강남구,10300,개포동,1.0,대지,1280,0.0,래미안블레스티지,20210215,251000,84.94,0.00,1.0,NaN,NaN,2019.0,아파트,NaN,NaN
2,2020,11260,중랑구,10300,중화동,NaN,NaN,NaN,NaN,NaN,20210201,85000,99.18,195.00,NaN,NaN,NaN,1977.0,단독다가구,NaN,NaN
3,2020,11710,송파구,10400,송파동,1.0,대지,0097,44.0,삼구주택(97-44),20210125,38000,55.20,29.89,3.0,NaN,NaN,2011.0,연립다세대,NaN,NaN
4,2020,11560,영등포구,11500,당산동5가,1.0,대지,0042,0.0,당산삼성래미안4차,20210112,180000,133.42,0.00,12.0,NaN,NaN,2003.0,아파트,NaN,NaN

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2021,11440,마포구,11500,상수동,1.0,대지,0157,1.0,세방글로벌시티,20220227,20000,29.89,39.91,14.0,NaN,20220329.0,2005.0,오피스텔,중개거래,서울 마포구
1,2021,11230,동대문구,10500,답십리동,NaN,NaN,NaN,NaN,NaN,20220225,45000,39.21,70.70,NaN,NaN,NaN,2014.0,단독다가구,중개거래,서울 동대문구
2,2021,11560,영등포구,10300,영등포동2가,1.0,대지,0094,154.0,여의도 디앤써밋,20220212,28000,27.98,31.40,13.0,NaN,NaN,2019.0,오피스텔,중개거래,서울 영등포구
3,2021,11590,동작구,10800,대방동,1.0,대지,0500,0.0,성원,20220205,125000,84.32,0.00,4.0,NaN,NaN,1994.0,아파트,중개거래,서울 영등포구
4,2021,11260,중랑구,10100,면목동,1.0,대지,1538,0.0,주함해븐빌,20220204,28500,35.12,21.24,3.0,NaN,NaN,2017.0,연립다세대,중개거래,서울 중랑구

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2022,11260,중랑구,10100,면목동,1.0,대지,173.0,164.0,은하빌라,20230424,16000,50.35,28.50,3.0,NaN,NaN,1996.0,연립다세대,중개거래,서울 마포구
1,2022,11215,광진구,10500,자양동,1.0,대지,860.0,0.0,테라팰리스건대2차,20230216,105000,75.03,0.00,17.0,NaN,NaN,2018.0,아파트,중개거래,서울 강남구
2,2022,11680,강남구,10300,개포동,1.0,대지,1165.0,16.0,칠성빌라나동,20230109,69000,50.28,41.77,1.0,NaN,NaN,1989.0,연립다세대,중개거래,서울 강남구
3,2022,11200,성동구,12200,용답동,1.0,대지,238.0,12.0,서희스타힐스리버파크,20230106,13500,20.21,27.28,4.0,NaN,NaN,2016.0,오피스텔,중개거래,서울 광진구
4,2022,11740,강동구,10900,천호동,1.0,대지,167.0,153.0,다성 이즈빌,20230102,22500,29.01,38.62,2.0,NaN,NaN,2017.0,오피스텔,중개거래,서울 강동구

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2023,11380,은평구,10200,녹번동,1.0,대지,152.0,59.0,이지플아트빌(152-59),20240202,33500,43.04,37.00,2.0,NaN,NaN,2005.0,연립다세대,중개거래,서울 은평구
1,2023,11590,동작구,10700,사당동,NaN,NaN,NaN,NaN,NaN,20240201,190000,148.23,202.70,NaN,NaN,NaN,1970.0,단독다가구,중개거래,서울 강남구
2,2023,11590,동작구,10700,사당동,NaN,NaN,NaN,NaN,NaN,20240201,90000,146.14,98.60,NaN,NaN,NaN,1987.0,단독다가구,중개거래,서울 강남구
3,2023,11710,송파구,10400,송파동,1.0,대지,95.0,7.0,HANYANGLEEPS,20240123,11000,13.38,10.61,5.0,NaN,NaN,2012.0,연립다세대,중개거래,서울 송파구
4,2023,11530,구로구,10200,구로동,1.0,대지,546.0,17.0,오크트리빌구로1차,20240109,26300,29.05,20.04,4.0,NaN,NaN,2023.0,연립다세대,직거래,NaN

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2024,11380,은평구,10200,녹번동,1.0,대지,0086,0125,성원빌라(86-125),20241014,16400,53.07,25.0000,4.0,NaN,NaN,1991.0,연립다세대,중개거래,서울 은평구
1,2024,11500,강서구,10300,화곡동,1.0,대지,0924,0004,팔팔빌라,20241014,35000,39.24,27.0000,2.0,NaN,NaN,1986.0,연립다세대,직거래,NaN
2,2024,11560,영등포구,11100,당산동1가,1.0,대지,0143,0000,다솔시티하임,20241014,30000,29.54,14.0000,5.0,NaN,NaN,2017.0,연립다세대,직거래,NaN
3,2024,11560,영등포구,12800,양평동4가,1.0,대지,0220,0000,해울빌,20241014,36000,40.41,63.6400,3.0,NaN,NaN,2021.0,오피스텔,중개거래,서울 용산구
4,2024,11410,서대문구,11200,대현동,1.0,대지,0090,0077,유씨유 이대,20241014,19300,17.31,30.8725,5.0,NaN,NaN,2018.0,오피스텔,중개거래,서울 서대문구

In [2]:
# 7개년 데이터 합치기
df_2018_2024 = pd.concat([df_2018, df_2019, df_2020, df_2021, df_2022, df_2023, df_2024], axis=0, ignore_index=True)

# concat 테이블 데이터 확인
display(df_2018_2024)

# concat 테이블 정보 확인
df_2018_2024.info()

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2018,11500,강서구,10300,화곡동,1.0,대지,1159.0,0.0,"우장산아이파크,이편한세상",20190425,95000,101.65,NaN,10.0,NaN,NaN,2008.0,아파트,NaN,NaN
1,2018,11410,서대문구,11200,대현동,1.0,대지,144.0,0.0,럭키대현,20190316,70000,83.38,NaN,10.0,NaN,NaN,1999.0,아파트,NaN,NaN
2,2018,11590,동작구,10700,사당동,1.0,대지,169.0,32.0,현대,20190221,49500,51.66,NaN,10.0,NaN,NaN,1991.0,아파트,NaN,NaN
3,2018,11350,노원구,10500,상계동,1.0,대지,1380.0,4.0,초산빌라,20190121,16000,41.37,18.38,1.0,NaN,NaN,1996.0,연립다세대,NaN,NaN
4,2018,11380,은평구,11000,증산동,1.0,대지,189.0,63.0,궁전맨션(189-63),20190103,43000,54.34,27.17,2.0,NaN,NaN,1992.0,연립다세대,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
833609,2024,11530,구로구,10700,개봉동,1.0,대지,0170,0033,금석연립(170-33),20220708,9190,53.61,124.00,1.0,NaN,20240207.0,1981.0,연립다세대,중개거래,서울 강남구
833610,2024,11530,구로구,10700,개봉동,1.0,대지,0170,0033,금석연립(170-33),20220708,9190,53.61,124.00,1.0,NaN,20240207.0,1981.0,연립다세대,중개거래,서울 강남구
833611,2024,11530,구로구,10700,개봉동,1.0,대지,0170,0033,금석연립(170-33),20220708,9740,53.61,124.00,2.0,NaN,20240207.0,1981.0,연립다세대,중개거래,서울 강남구
833612,2024,11440,마포구,11000,노고산동,NaN,NaN,NaN,NaN,NaN,20210719,195000,157.45,116.70,NaN,NaN,20240417.0,1988.0,단독다가구,NaN,NaN
833613,2024,11305,강북구,10100,미아동,NaN,NaN,NaN,NaN,NaN,20210208,164000,293.08,136.00,NaN,NaN,20240905.0,1994.0,단독다가구,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 833614 entries, 0 to 833613
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              833614 non-null  int64
 1   자치구코드             833614 non-null  int64
 2   자치구명              833613 non-null  object
 3   법정동코드             833614 non-null  int64
 4   법정동명              833614 non-null  object
 5   지번구분              776043 non-null  float64
 6   지번구분명             776043 non-null  object
 7   본번                776052 non-null  object
 8   부번                776052 non-null  object
 9   건물명               776065 non-null  object
 10  계약일               833614 non-null  int64
 11  물건금액(만원)          833614 non-null  int64
 12  건물면적(㎡)           833614 non-null  float64
 13  토지면적(㎡)           668824 non-null  float64
 14  층                 776119 non-null  float64
 15  권리구분              7614 non-null    object
 16  취소일               25541 non-null   float64
 17  건축년도              830198 non-null  float64
 18  건물용도              833614 non-null  object
 19  신고구분              225344 non-null  object
 20  신고한 개업공인중개사 시군구명  183916 non-null  object
dtypes: float64(6), int64(5), object(10)
memory usage: 133.6+ MB

# 프로젝트 목적에 맞는 컬럼 선정

In [3]:
# 필요 없는 컬럼 제거
df_2018_2024 = df_2018_2024.drop(['접수연도', '자치구코드', '법정동코드', '지번구분', '지번구분명', '토지면적(㎡)', '권리구분', '신고구분', '신고한 개업공인중개사 시군구명'], axis=1)
df_2018_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 833614 entries, 0 to 833613
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자치구명      833613 non-null  object
 1   법정동명      833614 non-null  object
 2   본번        776052 non-null  object
 3   부번        776052 non-null  object
 4   건물명       776065 non-null  object
 5   계약일       833614 non-null  int64
 6   물건금액(만원)  833614 non-null  int64
 7   건물면적(㎡)   833614 non-null  float64
 8   층         776119 non-null  float64
 9   취소일       25541 non-null   float64
 10  건축년도      830198 non-null  float64
 11  건물용도      833614 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 76.3+ MB

# 데이터 필터링

In [5]:
# 아파트로 필터링
df_2018_2024 = df_2018_2024[df_2018_2024['건물용도'] == '아파트'].copy()
df_2018_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 393389 entries, 0 to 833606
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자치구명      393388 non-null  object
 1   법정동명      393389 non-null  object
 2   본번        393342 non-null  object
 3   부번        393342 non-null  object
 4   건물명       393389 non-null  object
 5   계약일       393389 non-null  int64
 6   물건금액(만원)  393389 non-null  int64
 7   건물면적(㎡)   393389 non-null  float64
 8   층         393389 non-null  float64
 9   취소일       8598 non-null    float64
 10  건축년도      393387 non-null  float64
 11  건물용도      393389 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 39.0+ MB

In [6]:
# 계약 연도 2017년부터 필터링 (가계약 고려)
df_2018_2024 = df_2018_2024[df_2018_2024['계약일'] >= 20170101].copy()
df_2018_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 393345 entries, 0 to 833606
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자치구명      393344 non-null  object
 1   법정동명      393345 non-null  object
 2   본번        393298 non-null  object
 3   부번        393298 non-null  object
 4   건물명       393345 non-null  object
 5   계약일       393345 non-null  int64
 6   물건금액(만원)  393345 non-null  int64
 7   건물면적(㎡)   393345 non-null  float64
 8   층         393345 non-null  float64
 9   취소일       8598 non-null    float64
 10  건축년도      393343 non-null  float64
 11  건물용도      393345 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 39.0+ MB

# 결측치 처리

In [7]:
# 본번이 null이 아닌 애들로 필터링
df_2018_2024 = df_2018_2024[df_2018_2024['본번'].notna()].copy()
df_2018_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 393298 entries, 0 to 833606
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자치구명      393297 non-null  object
 1   법정동명      393298 non-null  object
 2   본번        393298 non-null  object
 3   부번        393298 non-null  object
 4   건물명       393298 non-null  object
 5   계약일       393298 non-null  int64
 6   물건금액(만원)  393298 non-null  int64
 7   건물면적(㎡)   393298 non-null  float64
 8   층         393298 non-null  float64
 9   취소일       8598 non-null    float64
 10  건축년도      393296 non-null  float64
 11  건물용도      393298 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 39.0+ MB

In [8]:
# 건축년도 null 필터링
df_2018_2024 = df_2018_2024[df_2018_2024['건축년도'].notna()].copy()
df_2018_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 393296 entries, 0 to 833606
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자치구명      393295 non-null  object
 1   법정동명      393296 non-null  object
 2   본번        393296 non-null  object
 3   부번        393296 non-null  object
 4   건물명       393296 non-null  object
 5   계약일       393296 non-null  int64
 6   물건금액(만원)  393296 non-null  int64
 7   건물면적(㎡)   393296 non-null  float64
 8   층         393296 non-null  float64
 9   취소일       8598 non-null    float64
 10  건축년도      393296 non-null  float64
 11  건물용도      393296 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 39.0+ MB

In [9]:
# 자치구명 null 필터링
df_2018_2024 = df_2018_2024[df_2018_2024['자치구명'].notna()].copy()
df_2018_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 393295 entries, 0 to 833606
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자치구명      393295 non-null  object
 1   법정동명      393295 non-null  object
 2   본번        393295 non-null  object
 3   부번        393295 non-null  object
 4   건물명       393295 non-null  object
 5   계약일       393295 non-null  int64
 6   물건금액(만원)  393295 non-null  int64
 7   건물면적(㎡)   393295 non-null  float64
 8   층         393295 non-null  float64
 9   취소일       8598 non-null    float64
 10  건축년도      393295 non-null  float64
 11  건물용도      393295 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 39.0+ MB

# 이상치 처리

In [10]:
# 건축년도 0 필터링
df_2018_2024 = df_2018_2024[df_2018_2024['건축년도'] != 0.0].copy()
df_2018_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 385713 entries, 0 to 833606
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자치구명      385713 non-null  object
 1   법정동명      385713 non-null  object
 2   본번        385713 non-null  object
 3   부번        385713 non-null  object
 4   건물명       385713 non-null  object
 5   계약일       385713 non-null  int64
 6   물건금액(만원)  385713 non-null  int64
 7   건물면적(㎡)   385713 non-null  float64
 8   층         385713 non-null  float64
 9   취소일       8328 non-null    float64
 10  건축년도      385713 non-null  float64
 11  건물용도      385713 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 38.3+ MB

In [11]:
# 본번 int화
df_2018_2024['본번'] = df_2018_2024['본번'].astype(int)

# 본번이 0이 아닌 애들로 필터링
df_2018_2024 = df_2018_2024[df_2018_2024['본번'] != 0].copy()
df_2018_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 385614 entries, 0 to 833606
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자치구명      385614 non-null  object
 1   법정동명      385614 non-null  object
 2   본번        385614 non-null  int64
 3   부번        385614 non-null  object
 4   건물명       385614 non-null  object
 5   계약일       385614 non-null  int64
 6   물건금액(만원)  385614 non-null  int64
 7   건물면적(㎡)   385614 non-null  float64
 8   층         385614 non-null  float64
 9   취소일       8324 non-null    float64
 10  건축년도      385614 non-null  float64
 11  건물용도      385614 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 38.2+ MB

In [12]:
# 건물면적 0 필터링
df_2018_2024 = df_2018_2024[df_2018_2024['건물면적(㎡)'] != 0.0].copy()
df_2018_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 385614 entries, 0 to 833606
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자치구명      385614 non-null  object
 1   법정동명      385614 non-null  object
 2   본번        385614 non-null  int64
 3   부번        385614 non-null  object
 4   건물명       385614 non-null  object
 5   계약일       385614 non-null  int64
 6   물건금액(만원)  385614 non-null  int64
 7   건물면적(㎡)   385614 non-null  float64
 8   층         385614 non-null  float64
 9   취소일       8324 non-null    float64
 10  건축년도      385614 non-null  float64
 11  건물용도      385614 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 38.2+ MB

In [13]:
# 물건금액 0 필터링
df_2018_2024 = df_2018_2024[df_2018_2024['물건금액(만원)'] != 0].copy()
df_2018_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 385614 entries, 0 to 833606
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자치구명      385614 non-null  object
 1   법정동명      385614 non-null  object
 2   본번        385614 non-null  int64
 3   부번        385614 non-null  object
 4   건물명       385614 non-null  object
 5   계약일       385614 non-null  int64
 6   물건금액(만원)  385614 non-null  int64
 7   건물면적(㎡)   385614 non-null  float64
 8   층         385614 non-null  float64
 9   취소일       8324 non-null    float64
 10  건축년도      385614 non-null  float64
 11  건물용도      385614 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 38.2+ MB

In [14]:
# 취소일이 null 필터링
df_2018_2024 = df_2018_2024[df_2018_2024['취소일'].isnull()].copy()
df_2018_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 377290 entries, 0 to 833598
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자치구명      377290 non-null  object
 1   법정동명      377290 non-null  object
 2   본번        377290 non-null  int64
 3   부번        377290 non-null  object
 4   건물명       377290 non-null  object
 5   계약일       377290 non-null  int64
 6   물건금액(만원)  377290 non-null  int64
 7   건물면적(㎡)   377290 non-null  float64
 8   층         377290 non-null  float64
 9   취소일       0 non-null       float64
 10  건축년도      377290 non-null  float64
 11  건물용도      377290 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 37.4+ MB

In [15]:
# 아파트 층수가 1층 이상(지상)
df_2018_2024 = df_2018_2024[df_2018_2024['층'] > 0].copy()
df_2018_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 377199 entries, 0 to 833598
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자치구명      377199 non-null  object
 1   법정동명      377199 non-null  object
 2   본번        377199 non-null  int64
 3   부번        377199 non-null  object
 4   건물명       377199 non-null  object
 5   계약일       377199 non-null  int64
 6   물건금액(만원)  377199 non-null  int64
 7   건물면적(㎡)   377199 non-null  float64
 8   층         377199 non-null  float64
 9   취소일       0 non-null       float64
 10  건축년도      377199 non-null  float64
 11  건물용도      377199 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 37.4+ MB

In [16]:
total_len = len(df_2018_2024)
dup_len = df_2018_2024.duplicated().sum()
print(f"전체 데이터: {total_len}건")
print(f"중복 데이터: {dup_len}건 ({dup_len/total_len*100:.2f}%)")

전체 데이터: 377199건
중복 데이터: 2617건 (0.69%)

# 파생변수 생성

In [17]:
# 계약일 -> 계약 연도 컬럼 추가(int 타입)
df_2018_2024['계약 연도'] = df_2018_2024['계약일'] // 10000

# 계약일 컬럼 제거
df_2018_2024 = df_2018_2024.drop('계약일', axis=1)

df_2018_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 377199 entries, 0 to 833598
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자치구명      377199 non-null  object
 1   법정동명      377199 non-null  object
 2   본번        377199 non-null  int64
 3   부번        377199 non-null  object
 4   건물명       377199 non-null  object
 5   물건금액(만원)  377199 non-null  int64
 6   건물면적(㎡)   377199 non-null  float64
 7   층         377199 non-null  float64
 8   취소일       0 non-null       float64
 9   건축년도      377199 non-null  float64
 10  건물용도      377199 non-null  object
 11  계약 연도     377199 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 37.4+ MB

In [18]:
# 평수 컬럼 추가(정수까지 반올림해서 int화)
df_2018_2024['평수(평)'] = round(df_2018_2024['건물면적(㎡)'] / 3.3)
df_2018_2024['평수(평)'] = df_2018_2024['평수(평)'].astype(int)
# df_2018_2024.info()

# 평당가 계산(정수까지 반올림해서 int화)
df_2018_2024['평당가(만원)'] = round(df_2018_2024['물건금액(만원)']/ df_2018_2024['평수(평)'])
df_2018_2024['평당가(만원)'] = df_2018_2024['평당가(만원)'].astype(int)
df_2018_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 377199 entries, 0 to 833598
Data columns (total 14 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자치구명      377199 non-null  object
 1   법정동명      377199 non-null  object
 2   본번        377199 non-null  int64
 3   부번        377199 non-null  object
 4   건물명       377199 non-null  object
 5   물건금액(만원)  377199 non-null  int64
 6   건물면적(㎡)   377199 non-null  float64
 7   층         377199 non-null  float64
 8   취소일       0 non-null       float64
 9   건축년도      377199 non-null  float64
 10  건물용도      377199 non-null  object
 11  계약 연도     377199 non-null  int64
 12  평수(평)     377199 non-null  int64
 13  평당가(만원)   377199 non-null  int64
dtypes: float64(4), int64(5), object(5)
memory usage: 43.2+ MB

In [19]:
# # 시명 : 서울특별시 추가
df_2018_2024['시명'] = "서울특별시"

# 부번 정수화
df_2018_2024['부번'] = df_2018_2024['부번'].astype(int)

# # 부번 0 -> Null 처리
df_2018_2024['부번'] = df_2018_2024['부번'].replace(0, None)

df_2018_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 377199 entries, 0 to 833598
Data columns (total 15 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자치구명      377199 non-null  object
 1   법정동명      377199 non-null  object
 2   본번        377199 non-null  int64
 3   부번        97807 non-null   object
 4   건물명       377199 non-null  object
 5   물건금액(만원)  377199 non-null  int64
 6   건물면적(㎡)   377199 non-null  float64
 7   층         377199 non-null  float64
 8   취소일       0 non-null       float64
 9   건축년도      377199 non-null  float64
 10  건물용도      377199 non-null  object
 11  계약 연도     377199 non-null  int64
 12  평수(평)     377199 non-null  int64
 13  평당가(만원)   377199 non-null  int64
 14  시명        377199 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 46.0+ MB

In [20]:
# 주소 컬럼 생성
main_num = df_2018_2024['본번'].fillna(0).astype(float).astype(int).astype(str)
sub_num = df_2018_2024['부번'].fillna(0).astype(float).astype(int).astype(str)

hyphen_str = np.where((df_2018_2024['부번'].isna()) | (df_2018_2024['부번'] == 0), "", "-" + sub_num)

df_2018_2024['주소'] = (df_2018_2024['시명'].fillna('') + ' ' + df_2018_2024['자치구명'].fillna('') + ' ' + df_2018_2024['법정동명'].fillna('') + ' ' + main_num + hyphen_str)
df_2018_2024.info()

C:\Users\Keon\AppData\Local\Temp\ipykernel_22920\4199869149.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  sub_num = df_2018_2024['부번'].fillna(0).astype(float).astype(int).astype(str)

<class 'pandas.core.frame.DataFrame'>
Index: 377199 entries, 0 to 833598
Data columns (total 16 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자치구명      377199 non-null  object
 1   법정동명      377199 non-null  object
 2   본번        377199 non-null  int64
 3   부번        97807 non-null   object
 4   건물명       377199 non-null  object
 5   물건금액(만원)  377199 non-null  int64
 6   건물면적(㎡)   377199 non-null  float64
 7   층         377199 non-null  float64
 8   취소일       0 non-null       float64
 9   건축년도      377199 non-null  float64
 10  건물용도      377199 non-null  object
 11  계약 연도     377199 non-null  int64
 12  평수(평)     377199 non-null  int64
 13  평당가(만원)   377199 non-null  int64
 14  시명        377199 non-null  object
 15  주소        377199 non-null  object
dtypes: float64(4), int64(5), object(7)
memory usage: 48.9+ MB

In [21]:
# 층, 건축년도 데이터 정수화
df_2018_2024['층'] = df_2018_2024['층'].astype(int)
df_2018_2024['건축년도'] = df_2018_2024['건축년도'].astype(int)
df_2018_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 377199 entries, 0 to 833598
Data columns (total 16 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자치구명      377199 non-null  object
 1   법정동명      377199 non-null  object
 2   본번        377199 non-null  int64
 3   부번        97807 non-null   object
 4   건물명       377199 non-null  object
 5   물건금액(만원)  377199 non-null  int64
 6   건물면적(㎡)   377199 non-null  float64
 7   층         377199 non-null  int64
 8   취소일       0 non-null       float64
 9   건축년도      377199 non-null  int64
 10  건물용도      377199 non-null  object
 11  계약 연도     377199 non-null  int64
 12  평수(평)     377199 non-null  int64
 13  평당가(만원)   377199 non-null  int64
 14  시명        377199 non-null  object
 15  주소        377199 non-null  object
dtypes: float64(2), int64(7), object(7)
memory usage: 48.9+ MB

In [22]:
# 최종 정렬
df_2018_2024 = df_2018_2024[['계약 연도', '시명', '자치구명', '법정동명', '본번', '부번', '주소', '건물명', '물건금액(만원)', '건물면적(㎡)', '평당가(만원)', '평수(평)', '층', '취소일', '건축년도', '건물용도']]

# 인덱스 번호 정렬
df_2018_2024 = df_2018_2024.reset_index(drop=True)

# 1차 전처리 결과 csv로 내보내기
df_2018_2024.to_csv('1차 데이터 전처리.csv', encoding='cp949', index=False)